body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
}

* {box-sizing: border-box;}
h1,h2,h3 { padding: 0; margin: 0; }
div { position: relative; overflow: hidden; }
.Hm_Hdr1 { padding: 15px 1%; font-size: 25px; }


.Hm_boxCvr { background: #fff; margin: 5px 0 55px; padding: 15px 1%; }
.Hm_EMkdons { font-size: 19px; margin: 0 1%; font-weight: bold; }
.Hm_Todays { padding: 10px 0; margin: 20px 1% 0; }
.Hm_Todays select { width: 90px; padding: 10px 10px; margin: 0 15px 0 0; background-color: #f1f2f6; border-color: transparent; font-size: 14px; font-weight: bold; text-transform: capitalize; }
.Hm_EchCPops { display: flex; flex-wrap: wrap; margin: 10px 0 0; }
.Hm_EchCCvr { min-width: 23%; max-width: 23%; margin: 13px 1% 10px; }
.Hm_EchCd_1 { font-size: 13.45px; letter-spacing: 1px; }
.Hm_EchCd_2 { padding: 9px 0 5px; }
.Hm_EchCd_2 select, .Hm_EchCd_2 input {
  width: 60%; padding: 10px 10px; background-color: #f1f2f6; border-color: transparent; font-size: 14px; font-weight: bold; text-transform: capitalize;
}
.Hm_EchCd_2 select:focus { border-color: turquoise; }
.gbBb_4time input { width: 35%; margin: 0 15px 0 0; }
.Hm_LstBtn { padding: 20px 1% 10px; height: 100px; }
.Hm_LstBtn button {
  padding: 12px 40px; height: 55px; font-size: 17px; font-weight: bold; border-radius: 2px; position: relative;
  background: cornsilk; box-shadow: 3px 3px 2px rgba(241, 242, 246, .9), 0 0 7px 1px rgba(241, 242, 246, 1);
  border: 1px solid transparent;
  border-top: 1px solid #ececec;
  cursor: pointer;
  transition: all ease-out .3s;
}
.Hm_LstBtn button:hover { box-shadow: none; margin-top: -0.4px; border: 1px solid #abb8c6; }
.Hm_LstBtn button:active { top: 1px; }


.Dw1_mnthCvr { margin: 0 0 80px; background-color: #fff; padding: 20px 0; display: block; position: relative; overflow: hidden; }
.Dw1_mnt_1c { display: flex; justify-content: space-between; padding: 0 1% 15px; }
.Dw1_mnt_1name { font-size: 23px; letter-spacing: 1px; padding: 5px 0 0; }
.Dw1_mnt_1select select { width: 80px; padding: 7px 10px; background-color: #f1f2f6; border-color: transparent; font-size: 14px; font-weight: bold; text-transform: capitalize; margin: 0 5px; }
.Dw1_mnt_1select select:nth-child(2) {  margin-right: 15px; }
.Dw1_mnt_1select a { font-size: 13.5px; font-weight: bold; }

.Dw1_mnt_Cards { display: flex; overflow: auto; }
/* width */
::-webkit-scrollbar { width: 10px; }
/* Track */
::-webkit-scrollbar-track { background: #f1f1f1; }
/* Handle */
::-webkit-scrollbar-thumb { background: #888; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }

.Dw1_mnt_Cards { overflow-x: auto !important; padding: 0 0 20px; -ms-overflow-style: -ms-autohiding-scrollbar !important; }
.Dw1_mnt_Cards::-webkit-scrollbar { width: 10px; height: 3px; }
.Dw1_mnt_Cards::-webkit-scrollbar-track { background: transparent; }
.Dw1_mnt_Cards::-webkit-scrollbar-thumb { background: transparent; }
.Dw1_mnthCvr:hover .Dw1_mnt_Cards::-webkit-scrollbar-track  { background: #f1f1f1; }
.Dw1_mnthCvr:hover .Dw1_mnt_Cards::-webkit-scrollbar-thumb  { background: #888; }



.Dw1_mnt_Ecd { min-width: 380px; padding: 0 1.8% 0 1.5%; border-right: 4px solid rgb(199, 82, 140); border-radius: 5px; box-shadow: 5px 0 0 rgba(236, 240, 241, 1); }
.Dw1_mnt_TopM { font-family: 14px; font-weight: bold; }
.Dw1_mnt_TopM > div:nth-child(2) { font-size: 12px; padding: 3px 0 0; }
.Dw1_mnt_TopM > div:nth-child(3) { width: 40%; height: 4px; margin: 5px 0; background-color: rgb(199, 82, 140); border-radius: 20px; }
.Dw1_mnt_MEch { padding: 10px 0; font-size: 13px; display: flex; justify-content: space-between; }
.Dw1_mnt_MEch > div:nth-child(1) { max-width: 75%; }
.Dw1_pass { color: #0056b6; width: 23%; display: flex; justify-content: space-between; text-transform: capitalize; }
.Dw1_fail { color: #FC427B; }
.Dw1_time { color: #273054; text-transform: lowercase; }
.Dw1_pass svg { width: 20px; height: 20px; }
.Dw1_time svg { width: 17px; height: 17px; }


.Ps1_OldBru { margin: 0 0 80px; background-color: #fff; padding: 20px 10px; display: block; position: relative; overflow: hidden; }
.PsssCover > div { float: left; width: 50%; }
.Ps1_mjCvr { margin: 10px 0 0; }
.Ps1_hdrO { display: block; }
.PsA { float: left; position: relative; font-size: 12px; font-weight: bold; text-align: center; padding: 10px 0; }
.PsA > span { display: inline-block; position: relative; background-color: #f1f2f6; padding: 5px 15px; border-radius: 3px; }
.Ps1_h1 { width: 46%; text-align: left !important; }
.Ps1_h2 { width: 13%; }
.Ps1_h3 { width: 13%; }
.Ps1_h4 { width: 13%; }
.Ps1_h5 { width: 13%; display: flex; }
.Ps1_h5 svg { width: 15px; height: 15px; color: #df0e3a; margin: 0 10px; }
.Ps1_h2 > span { background-color: #f2cd5f; }
.Ps1_h3 > span { background-color: #73c3ce; }
.Ps1_h4 > span { background-color: #D9304F; }
.Ps1_h5 > span { background-color: #6ea2dd; }
.P2ech_Cvr { display: block; padding: 10px 0; }
.P2ech_i { float: left; position: relative; font-size: 12px; font-weight: 500; text-align: center; }
.ovr_scores {
  padding: 10px 0 0; margin: 0 65px 0 0; text-align: right; font-size: 19px; font-weight: 600;
}

.Ps2_mjCvr { height: 500px; padding: 0 0 0 50px; }
.Ps2_mjCvr:after {
  content: ""; display: block; position: absolute;
  left: 0; top: 20px; right: auto; bottom: auto;
  height: 460px; width: 5px; border-radius: 50px; background-color: rgb(199, 82, 140);
}
.Ps2_mDir { float: left; }
.Ps2_mDir:nth-child(1) { width: 50%; margin: 50px 3% 0 0; }
.Ps2_mDir:nth-child(2) { width: 47%; margin: 50px 0 0 0; }
.Ps1_h6 { width: 75%; text-align: left !important; }
.Ps1_h7 { width: 15%; text-align: left !important; }