body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
}

* {box-sizing: border-box;}
div { position: relative; overflow: hidden; }
.Hm_Hdr1 { padding: 15px 1%; font-size: 25px; }


.Hm_boxCvr { background: #fff; margin: 5px 0 55px; padding: 15px 1%; }
.Hm_EMkdons { font-size: 19px; margin: 0 1%; font-weight: bold; }
.Hm_Todays { padding: 10px 0; margin: 20px 1% 0; }
.Hm_Todays select {
  width: 90px; padding: 10px 10px; margin: 0 15px 0 0; background-color: #f1f2f6; border-color: transparent; font-size: 14px; font-weight: bold; text-transform: capitalize;
}
.Hm_EchCPops { display: flex; flex-wrap: wrap; margin: 10px 0 0; }
.Hm_EchCCvr { min-width: 23%; max-width: 23%; margin: 13px 1% 10px; }
.Hm_EchCd_1 { font-size: 13.45px; letter-spacing: 1px; }
.Hm_EchCd_2 { padding: 9px 0 5px; }
.Hm_EchCd_2 select, .Hm_EchCd_2 input {
  width: 60%; padding: 10px 10px; background-color: #f1f2f6; border-color: transparent; font-size: 14px; font-weight: bold; text-transform: capitalize;
}
.Hm_EchCd_2 select:focus { border-color: turquoise; }
.gbBb_4time input { width: 35%; margin: 0 15px 0 0; }
.Hm_LstBtn { padding: 20px 1% 10px; height: 100px; }
.Hm_LstBtn button {
  padding: 12px 40px; height: 55px; font-size: 17px; font-weight: bold; border-radius: 2px; position: relative;
  background: cornsilk; box-shadow: 3px 3px 2px rgba(241, 242, 246, .9), 0 0 7px 1px rgba(241, 242, 246, 1);
  border: 1px solid transparent;
  border-top: 1px solid #ececec;
  cursor: pointer;
  transition: all ease-out .3s;
}
.Hm_LstBtn button:hover {
  box-shadow: none; margin-top: -0.4px;
  border: 1px solid #abb8c6;
}
.Hm_LstBtn button:active { top: 1px; }


.Dw1_mnthCvr {
  margin: 0 0 80px; background-color: #fff; padding: 20px 0; display: block; position: relative; overflow: hidden;
}
.Dw1_mnt_1c { display: flex; justify-content: space-between; padding: 0 1% 15px; }
.Dw1_mnt_1name { font-size: 23px; letter-spacing: 1px; padding: 5px 0 0; }
.Dw1_mnt_1select select { width: 80px; padding: 7px 10px; background-color: #f1f2f6; border-color: transparent; font-size: 14px; font-weight: bold; text-transform: capitalize; margin: 0 5px; }

.Dw1_mnt_Cards { display: flex; }
.Dw1_mnt_Ecd {
  min-width: 380px; padding: 0 1.8% 0 1.5%; border-right: 4px solid rgb(199, 82, 140); border-radius: 5px;
  box-shadow: 5px 0 0 rgba(236, 240, 241, 1);
}
.Dw1_mnt_TopM {
  font-family: 14px; font-weight: bold;
}
.Dw1_mnt_TopM > div:nth-child(2) { font-size: 12px; padding: 3px 0 0; }
.Dw1_mnt_TopM > div:nth-child(3) {
  width: 40%; height: 4px; margin: 5px 0; background-color: rgb(199, 82, 140); border-radius: 20px;
}
.Dw1_mnt_MEch { padding: 10px 0; font-size: 13px; display: flex; justify-content: space-between; }
.Dw1_mnt_MEch > div:nth-child(1) { max-width: 75%; }

.Dw1_pass { color: #0056b6; width: 23%; display: flex; justify-content: space-between;text-transform: capitalize;
}
.Dw1_fail { color: #FC427B; }
.Dw1_time { color: #273054; text-transform: lowercase; }
.Dw1_pass svg { width: 20px; height: 20px; }
.Dw1_time svg { width: 17px; height: 17px; }